//-----------VARIABLES-------------

//Background
$background-body: url("/assets/background-stars.svg");

//Width
$width-content: 1110px;
$width-box-article: 350px;
$width-box-value: 255px;
$width-image: 290px;

//Font-family
$font-family-Spartan: "League Spartan", sans-serif;
$font-family-Antonio: "Antonio", sans-serif;

//Font-size
$font-size-h1: 80px;
$font-size-h2: 40px;
$font-size-h3: 12px;
$font-size-h4: 11px;

$font-size-logo: 28px;
$font-size-body: 14px;
$font-size-content: 17px;
$font-size-basic: 16px;

//Font-weight
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;
$font-weight-black: 900;

//letter-spacing
$letter-spacing-h2: -1.5px;
$letter-spacing-h4: 1px;
$letter-spacing-h3: 2.6px;

//Colors
$white: #ffffff;
$color-background: #070724;
$dark: #38384f;
$gray: #838391;
$blue-sky: #419ebb;
$yellow: #eda249;
$purple: #6d2ed5;
$red-light: #d14c32;
$red: #d83a34;
$orange: #cd5120;
$green: #1ec1a2;
$blue: #2d68f0;
$box: #ffffff5c;
$color-active: #d8d8d81c;
