//-----------VARIABLES-------------

//Width
$width-content: 1110px;
$width-box-basic: 350px;
$width-box-value: 255px;
$width-image: 290px;

//Font-family
$font-family-Spartan: 'League Spartan', sans-serif;
$font-family-Antonio: 'Antonio', sans-serif;

//Font-size
$font-size-h1: 80px;
$font-size-h2: 40px;
$font-size-h3: 12px;
$font-size-h4: 11px;
$font-size-body: 14px;

//Font-weight
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-bold: bold;

//letter-spacing
$letter-spacing-h2: -1.5px;
$letter-spacing-h4: 1px;
$letter-spacing-h3: 2.6px;

//Colors
$white: #FFFFFF;
$dark: #070724;
$dark-light: #38384F;
$gray: #838391;
$blue-sky: #419EBB;
$yellow: #EDA249;
$purple: #6D2ED5;
$red-light: #D14C32;
$red: #D83A34;
$orange: #CD5120;
$green: #1EC1A2;
$blue: #2D68F0;




